extends layout

block content
  h1 Code Posting Forum
  p To be able to post new code you need to sign in.
  p Posts done by others can be viewed without signing in.
  p It is also possible to view comments on post without signing in.
  p To comment you need to sign in.
