header
nav 
    div(class="nav-wrapper blue-grey darken-1") 
        ul(class="left") 
            li: a(href="/") Home 
            li: a(href="/users/posts") Posts
            li: a(href="/users/postNew" id= "newPost") Post New
            li: a(href="/users/login") Login 
            li: a(href="/users/register") Register 
            li: a(href="" id="logout") Logout 
div(id="error2" class="card-panel blue-grey lighten-3")