extends layout
block content 
    div(class="row")
            div(class="col s12")
                div(class="card blue-grey white-text")
                    h1(class="card-header white-text") Post New
                    form(action="" id="fetchUsername" method="POST" )
                        label(for="header" class="white-text") Header
                        input(type="text" class="white-text" name="header", id="header", required)

                        label(for="description" class="white-text") Description 
                        input(type="text" class="white-text" name="description" id="description")

                        label(for="post" class="white-text") Code
                        input(type="text" class="white-text" name="post" id="post" required)
    
                        button(class="btn blue-grey darken-2" type = "submit") Post
    script(src="/javascripts/getUser.js")